# Ignore node_modules directory
node_modules/

# Ignore log files
logs/

# Ignore environment configuration files
.env

# Ignore build artifacts
dist/
build/
out/
patOTFPE8YOF9Ym0o.bb9a46d466f68b6a85e5e2fbfcc3e44c117e764b42d713d3942ff03ccd0c0136
